/* 
TYPOGRAPHY

- Font size (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weight
Default 400
Medium 500
Semi-bold 600
bold 700


- Line height
Default 1
Small 1.05
Medium 1.2
Paragraph default 1.6


- Letter spacing
-0.5px
0.75px

COLOR
- Main #e67e22
- Tints #fdf2e9
#eb984e
- Shades #cf711f
- Accents 
- Greys 
#555
#333

SHADOWS
box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

BORDER-RADIUS
Default 9px


WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* ********************************* */
/* HEADER */
/* ********************************* */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 6.4rem;

  padding: 0 4.8rem;
}
.logo {
  height: 1.8rem;
}

/* ********************************* */
/* NAVIGATION */
/* ********************************* */
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;

  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.nav-cta:link,
.nav-cta:visited {
  color: #fff;
  background-color: #e67e22;
  padding: 1rem 1.6rem;
  border-radius: 9px;
}

.nav-cta:hover,
.nav-cta:active {
  background-color: #cf711f;
}

/* ********************************* */
/* HERO */
/* ********************************* */
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;

  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  grid-area: 1.6rem;
  margin-top: 4.8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;

  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 600;
}

/* ********************************* */
/* FEATURED IN */
/* ********************************* */

.section-feature {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #777;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/* ********************************* */
/* HOW IT WORKS */
/* ********************************* */
.section-how {
  padding: 9.6rem 0;
}

.step-img {
  width: 35%;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #aaa;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 2rem;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;

  border-radius: 50%;

  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;

  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;

  z-index: -1;
}
/* ********************************* */
/* MEALS */
/* ********************************* */
.section-meals {
  padding: 9.6rem 0;
}
.meal img {
  width: 100%;
}
.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 12px;
  overflow: hidden;

  transition: all 0.3s;
}

.meal:hover {
  transform: translateY(-2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.1);
}

.meal-content {
  padding: 3.2rem;
}

.meal-tags {
  margin-bottom: 1.2rem;

  display: flex;
  gap: 9px;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 50px;
  font-weight: 600;
}

.tag-vegetarian {
  background-color: #51cf66;
}

.tag-vegan {
  background-color: #74b816;
}

.tag-paleo {
  background-color: #f59f00;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.meal-attribute {
  font-size: 1.8rem;

  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.meal-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #e67e22;
}

.all-recipes {
  font-size: 1.8rem;
  text-align: center;
}
/* ********************************* */
/* TESTIMONIALS */
/* ********************************* */

.section-testimonials {
  background-color: #fae5d3;
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 9.6rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  font-size: 1.6rem;
  color: #666;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;

  padding: 1.6rem;
}

.gallery figure {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;

  transition: all 0.3s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}
/* ********************************* */
/* PRICING */
/* ********************************* */

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  width: 75%;
  border-radius: 11px;
}

.pricing-plan-stater {
  justify-self: end;
  border: 1px solid #fae5d3;
  padding: 4.6rem;
}

.pricing-plan-complete {
  background-color: #fae5d3;
  padding: 4.8rem;

  position: relative;
  overflow: hidden;
}

.pricing-plan-complete::after {
  content: "Best seller";
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);

  position: absolute;
  top: 6%;
  right: -18%;
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #666;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}
.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}
/* ********************************* */
/* FEATURE */
/* ********************************* */

.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #fae5d3;
  padding: 1.6rem;
  border-radius: 50%;
  margin-bottom: 3.2rem;
}

.feature-title {
  font-size: 2.4rem;
  columns: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}
/* ********************************* */
/* CALL TO ACTION */
/* ********************************* */
.section-cta {
  padding: 9.6rem 0 12.8rem;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  background-image: linear-gradient(to right, #eb984e, #e67e22);
  border-radius: 11px;

  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}

.cta .heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2.4rem;
  column-gap: 3.2rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: inherit;
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 8px rgba(253, 242, 233, 0.5);
}
/* ********************************* */
/* FOOTER */
/* ********************************* */
.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #fae5d3;
}

.grid-footer{
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
.logo-col{
  display: flex;
  flex-direction: column;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
  margin-top: auto;
}

.social-links {
  display: flex;
  gap: 2.4rem;
  list-style: none;
}

.contacts{
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address{
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.footer-link:link,
.footer-link:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: #767676;

  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
